/client/node_modules
/api/node_modules

/api/src/image/paymentProof/**
/api/src/image/rutRif/**
/api/src/image/bankcertification/**
/api/src/image/docfront/**
/api/src/image/docreverse/**
!.gitkeep

/api/src/image/profilePic/**
!.gitkeep
.env